.intro-viewport {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-viewport h1 {
  max-width: 55%;
  font-size: 6vw;
  letter-spacing: 6px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.65);
}
.intro-viewport h1 span {
  display: inline-block;
  padding-right: 25px;
}

.intro-viewport button {
  background-color: #495ce6;
  color: #fff;
  padding: 4rem;
  border: none;
  border-radius: 50%;
}

.svg-get-in-touch {
  width: 15%;
}

.svg-circular-text {
  color: blue;
}

.about-section {
  margin: 8rem;
  display: flex;
  justify-content: space-between;
}

.about {
  margin-top: 1rem;
  max-width: 25%;
  color: rgba(0, 0, 0, 0.65);
}

.about span {
  display: inline-block;
  padding-right: 4px;
}

.about-image {
  width: 55vw;
  filter: grayscale(100%);
}

.services {
  background-color: rgba(240, 248, 255, 0.87);
  padding: 2.5rem 6rem;
}

.services h2 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 4rem;
}

.service-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery {
  margin: 6rem;
  display: flex;
  justify-content: center;
}
.gallery-group-1 {
  text-align: center;
}
.gallery-group-2 {
  position: relative;
  text-align: center;
  margin-top: 15rem;
}

.gallery div img {
  margin-bottom: 10rem;
  width: 38vw;
}
