.about-intro {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-intro h1 {
  max-width: 55%;
  font-size: 5rem;
  letter-spacing: 6px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.65);
}
